# 10xCMS

## Goals

We're creating Legacy CMS app based on Node 16, Bower and jQuery.

- The goal is to use common antipatterns and flaws of legacy web apps to make it more interesting.
- We're using jQuery for DOM manipulation and Bower for package management.
- We're using Express for the server-side logic.
- We're using JavaScript syntax from 2014 - avoid ES6+
- No components and modularization

## Tech overview

- The app uses Express to handle server-side logic
- When entering certain page (like /home), the app serves the page from `src/pages/home.html`
- There's no support for layouts
- There's handwritten placeholder engine for dynamic content
- The app uses jQuery for DOM manipulation
- The app uses Bootstrap for styling

## Directory Structure

- `index.js` - entry point to node app
- `public/` - static files
- `public/vendor/` - bower dependencies
- `public/app.js` - main app logic
- `src/pages/*.html` - pages
- `src/server` - server-side logic

## General practices

- Do not comment business logic in JavaScript
- Do not try to start the app or server when finished working - just let me know
- Always apply Bootstrap styles and classess for dark mode only
